<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <header id="header" class="alt">

  </header>

  <!-- Nav -->
  <nav id="nav">

  </nav>

  <!-- Main -->
  <div id="main">

    <!-- Introduction -->
    <section id="intro" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major">
            <h2>projecten</h2>
          </header>
          <div class="limiter">
            <div class="container-table100">
              <div class="wrap-table100">
                <div class="table100 ver1">

                  <div class="wrap-table100-nextcols js-pscroll">
                    <div class="table100-nextcols">
                      <table>
                        <thead>
                        <tr class="row100 head">
                          <th class="cell100 column2">name</th>
                          <th class="cell100 column3">url</th>
                          <th class="cell100 column4">branch</th>
                          <th class="cell100 column5">Language</th>
                          <th class="cell100 column6">status</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projects" class="row100 body">
                              <td class="cell100 column2">{{project.name}}</td>
                              <td class="cell100 column3">{{project.web_url}}</td>
                              <td class="cell100 column4">{{project.default_branch}}</td>
                              <td class="cell100 column5">{{project.languages}}</td>
                              <td class="cell100 column6">*</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Footer -->
  <footer id="footer">

    <p class="copyright">&copy; Untitled. Design:HTML5 UP.</p>
  </footer>

</div>
